body, h1, h2{
    margin: 0;
    padding: 0;
}
nav{
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1c192e;
}
nav .logo{
    padding: 0 85px;
}
.navmenu{
    display: flex;
    gap: 30px;
}
a.menu:link, a.menu:visited, a.stream:link, a.stream:visited, a.game:link, a.game:visited, a.build:link, a.build:visited, a.topplayer:link, a.topplayer:visited{
    color: white;
    text-decoration: none;
}
a.menu:hover, a.menu:active, a.stream:hover, a.stream:active, a.game:hover, a.game:active, a.build:hover, a.build:active, a.topplayer:hover, a.topplayer:active{
    color: #4a94f4;
    text-decoration: none;
}
button.Login{
    font-size: 16px;
    text-align: center;
    background-color: #4a94f4;
    color:white;
    border: none;
    text-decoration: none;
    border-radius: 20px;
}
button.Signup{
    font-size: 16px;
    text-align: center;
    background-color: #4a94f4;
    color:white;
    border: none;
    text-decoration: none;
    border-radius: 20px;
}

button.Login:active, button.Login:hover{
    color: #4a94f4;
    background-color: white;
}
button.Signup:active, button.Signup:hover{
    color: #4a94f4;
    background-color: white;
}
main.isi{
    background-color:#564f55;
    display: flex;
    justify-content: space-between;
}
.caption{
    padding: 0 85px;
    margin-top: 50px;
    text-align: center;
    color: white;
}
.caption h1{
    font-size: 4em;
}
button.learn{
    padding: 20px;
    margin-top: 50px;
    color: white;
    align-items: center;
    border-radius: 16px;
    border: none;
    font-size: 24px;
    background-color: #4a94f4;
}
button.learn:active, button.learn:hover{
    background-color: white;
    color:#4a94f4 ;
}
main.footer{
    text-align: center;
    display: flex;
    background-color:#170f1e;
    padding: 10px;
    justify-content: space-between;
}
main.footer div{
    color: white;
}
main.footer .coding{
    padding: 0 85px;
}